  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <!-- row1 month edition starts -->
    <div class="mag-heading"><div class="d-flex flex-column">JULY 2021 ISSUE <span>MAZINE NAME</span> </div></div>
    <div class="container">
        <div class="row row1 justify-content-around mx-5">
          <div class="card  mt-5" id="card1">
             <img src="https://source.unsplash.com/random" class="card-img" alt="...">
            <div class="card-img-overlay">
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
            </div>
          </div>
          <div class="card mt-5">
            <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">
            <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
            </div>
          </div>
          <div class="card mt-5">
              <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">          
              <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
            </div>
          </div>
          <div class="card mt-5">
              <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">          
              <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
            </div>
          </div>
          <div class="card mt-5">
              <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">          
              <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
            </div>
          </div>
          <div class="card mt-5">
              <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">
              <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
            </div>
          </div>
          <div class="card mt-5">
              <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">          
              <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
            </div>
          </div>
          <div class="card mt-5">
              <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">          
              <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
            </div>
          </div>
      </div>
    </div>
    <!-- row1 month edition ends -->
    <!-- row2 6 cards section starts -->

    <div class="card border-0 mycard1">
      <div class="card-body">
        <p class="card-text"></p>
        <a href="#" class="btn btn-lg btn-light" id="bt1">Read</a>
      </div>
    </div>
    <div class="container">
        <div class="row row1 justify-content-around mx-5">
          <div class="card mt-5">
             <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">
             <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
              </div>
          </div>
          <div class="card mt-5">
            <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">
            <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
            </div>
          </div>
          <div class="card mt-5">
              <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">          
              <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
              </div>
          </div>
          <div class="card mt-5">
              <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">          
              <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
              </div>
          </div>
          <div class="card mt-5">
              <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">          
              <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
              </div>
          </div>
          <div class="card mt-5">
              <img src="https://source.unsplash.com/random" class="card-img-top img-fluid" alt="cardimage">
              <div class="card-body">
                <p class="card-text">Lorem ipsum </p>
                <a href="#" class="btn btn-sm btn-light bt2">Read</a>
              </div>
          </div>
      </div>
    </div>
    <!-- row2 6 cards section ends -->
    <div class="latest_issue container-fluid" >
      <div class="liheading"> LATEST ISSUE</div>
      <div class="main">
        <div class="slider slider-for"></div>
        <div class="slider slider-nav">
          <div class=" licard">
            <img src="https://source.unsplash.com/random"  height="417" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some random</p>
              <a href="#" class="btn btn-primary">Read</a>
            </div>
          </div>
          <div class=" licard">
            <img src="https://source.unsplash.com/random"  height="417" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some random</p>
              <a href="#" class="btn btn-primary">Read</a>
            </div>
          </div>
          <div class=" licard">
            <img src="https://source.unsplash.com/random"  height="417" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some random</p>
              <a href="#" class="btn btn-primary">Read</a>
            </div>
          </div>
          <div class=" licard">
            <img src="https://source.unsplash.com/random"  height="417" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some random</p>
              <a href="#" class="btn btn-primary">Read</a>
            </div>
          </div>
          <div class=" licard">
            <img src="https://source.unsplash.com/random"  height="417" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some random</p>
              <a href="#" class="btn btn-primary">Read</a>
            </div>
          </div>
          <div class=" licard">
            <img src="https://source.unsplash.com/random"  height="417" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some random</p>
              <a href="#" class="btn btn-primary">Read</a>
            </div>
          </div>
          <div class=" licard">
            <img src="https://source.unsplash.com/random"  height="417" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some random</p>
              <a href="#" class="btn btn-primary">Read</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>